imports/http%3A%2F%2Fwww.w3.org%2F2001%2FXMLSchema/http%3A%2F%2Fopentosca.org%2Fnodetypes/CloudProviderProperties/CloudProviderProperties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://opentosca.org/nodetypes" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="CloudProviderProperties">
        <complexType>
            <sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <element name="APIEndpoint" type="xsd:string"/>
                <element name="APILoginName" type="xsd:string"/>
                <element name="APILoginPassword" type="xsd:string"/>
            </sequence>
        </complexType>
    </element>
</schema>
